.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.time, .date {
  font-size: 8rem;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 1rem 0;
}

.day-name {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.time {
  font-size: 8rem;
  margin: 2rem 0;
}

date {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.part-of-day {
  font-size: 6rem;
}

.emoji {
  margin-right: 1rem;
}