.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #000000;
}

.time, .date {
  font-size: 10rem;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.day-name {
  font-size: 8rem;
}

.time {
  font-size: 15rem;
}

.part-of-day {
  font-size: 10rem;
}

.emoji {
  margin-right: 1rem;
}

.ampm.am {
  color: #FFD600;
}
.ampm.pm {
  color: #928f8f;
}

.ampm-large {
  font-size: 12rem;
  font-weight: bold;
  line-height: 1;
}
.ampm-large.am {
  color: #FFD600;
}
.ampm-large.pm {
  color: #928f8f;
}