.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #000000;
}

.day-name, .time, .date {
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.date {
    font-size: 3rem;
  }

.day-name {
  font-size: 6rem;
}

.time {
  font-size: 6rem;
}

.part-of-day {
  font-size: 6rem;
}

.emoji {
  margin-right: 1rem;
  font-size: 5rem;
}

.ampm-large {
      font-weight: bold;
      font-size: 6rem;
    line-height: 1; /* Keep this if you want tightly spaced text */
    text-shadow: 2px 2px 0 #8511e4, -2px -4px 0 #4d0606, 2px -2px 0 #000, -2px 2px 0 #08584e; /* Adjust values for outline thickness and color */
  }
.ampm-large.am {
  color: #c4bd99;
}
.ampm-large.pm {
  color: #6d6767;
} 